<header class="header">
  <h1>Tripnny</h1>
  <nav class="nav">
    <a href="">{{'oneLink'| translate}}</a>
    <a href="">{{'twoLink'| translate}}</a>
    <a href="">{{'threeLink'| translate}}</a>
    <img *ngFor="let lang of langs " width="30" (click)="changeLang(lang)" src="./assets/img/{{lang}}.png">
  </nav>
</header>
<main>
  <div class="information" >
      <h1>{{'title'| translate}}</h1>
      <p>{{'message'| translate}}</p>
      <a href="">{{'button'| translate}}</a>
  </div>
  <img src="./assets/img/{{'imageWelcome'| translate}}">
</main>
<router-outlet></router-outlet>
